<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package
    Name="Ocentra Child Agent"
    Manufacturer="Ocentra"
    Version="$(var.ProductVersion)"
    UpgradeCode="0143F5A1-4C10-4C0F-97BE-55EDAF5012BB"
    Scope="perMachine"
    InstallerVersion="500"
  >
    <SummaryInformation Description="Ocentra Child Agent Windows service installer" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Ocentra Child Agent is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="OcentraProgramFilesFolder" Name="Ocentra">
        <Directory Id="INSTALLFOLDER" Name="Ocentra Child Agent" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="OcentraProgramDataFolder" Name="Ocentra">
        <Directory Id="AGENTDATAFOLDER" Name="Ocentra Child Agent" />
      </Directory>
    </StandardDirectory>

    <Feature Id="AgentFeature" Title="Ocentra Child Agent" Level="1">
      <ComponentGroupRef Id="AgentProgramFiles" />
      <ComponentRef Id="AgentProgramDataDirectory" />
    </Feature>
  </Package>

  <Fragment>
    <ComponentGroup Id="AgentProgramFiles" Directory="INSTALLFOLDER">
      <Component Id="AgentServiceExecutable" Guid="E05C005B-1AD8-4D68-BD50-18E3F4073F9E">
        <File
          Id="AgentServiceExecutableFile"
          Source="$(var.AgentBinaryPath)"
          Name="ocentra-child-agent-service.exe"
          KeyPath="yes"
        />
      </Component>

      <Component Id="AgentServiceWrapper" Guid="4186E964-C088-4A36-8729-1DCFB5F29EFD">
        <File
          Id="AgentServiceWrapperFile"
          Source="$(var.ServiceWrapperPath)"
          Name="OcentraChildAgentService.exe"
          KeyPath="yes"
        />
        <ServiceInstall
          Id="OcentraChildAgentServiceInstall"
          Type="ownProcess"
          Name="OcentraChildAgent"
          DisplayName="Ocentra Child Agent"
          Description="Headless local child agent for Ocentra Parent."
          Start="auto"
          ErrorControl="normal"
          Account="LocalSystem"
        >
          <util:ServiceConfig
            FirstFailureActionType="restart"
            SecondFailureActionType="restart"
            ThirdFailureActionType="restart"
            ResetPeriodInDays="1"
            RestartServiceDelayInSeconds="10"
          />
        </ServiceInstall>
        <ServiceControl
          Id="OcentraChildAgentServiceControl"
          Name="OcentraChildAgent"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Wait="yes"
        />
      </Component>

      <Component Id="AgentServiceWrapperConfig" Guid="9282819E-D440-4D60-9F4E-C40743A57FB5">
        <File
          Id="AgentServiceWrapperConfigFile"
          Source="$(var.ServiceConfigPath)"
          Name="OcentraChildAgentService.xml"
          KeyPath="yes"
        />
      </Component>

      <Component Id="AgentUpdaterExecutable" Guid="990F9374-1E88-4837-BA01-9F80B71EE6C4">
        <File
          Id="AgentUpdaterExecutableFile"
          Source="$(var.UpdaterBinaryPath)"
          Name="ocentra-child-agent-updater.exe"
          KeyPath="yes"
        />
      </Component>

      <Component Id="AgentUpdaterServiceWrapper" Guid="C5C4825C-110F-45E5-AFE2-A19780A88B5C">
        <File
          Id="AgentUpdaterServiceWrapperFile"
          Source="$(var.ServiceWrapperPath)"
          Name="OcentraChildUpdaterService.exe"
          KeyPath="yes"
        />
        <ServiceInstall
          Id="OcentraChildUpdaterServiceInstall"
          Type="ownProcess"
          Name="OcentraChildUpdater"
          DisplayName="Ocentra Child Updater"
          Description="Signed background updater for the Ocentra Child Agent."
          Start="auto"
          ErrorControl="normal"
          Account="LocalSystem"
        >
          <util:ServiceConfig
            FirstFailureActionType="restart"
            SecondFailureActionType="restart"
            ThirdFailureActionType="restart"
            ResetPeriodInDays="1"
            RestartServiceDelayInSeconds="60"
          />
        </ServiceInstall>
        <ServiceControl
          Id="OcentraChildUpdaterServiceControl"
          Name="OcentraChildUpdater"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Wait="yes"
        />
      </Component>

      <Component Id="AgentUpdaterServiceWrapperConfig" Guid="8BBE4297-5AC2-444D-AC87-2D66402515C8">
        <File
          Id="AgentUpdaterServiceWrapperConfigFile"
          Source="$(var.UpdaterConfigPath)"
          Name="OcentraChildUpdaterService.xml"
          KeyPath="yes"
        />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <Component Id="AgentProgramDataDirectory" Directory="AGENTDATAFOLDER" Guid="413DF832-1B07-4E61-81BD-2AC01856ECEB">
      <CreateFolder />
      <RemoveFolder Id="RemoveAgentProgramDataDirectory" On="uninstall" />
      <RegistryValue
        Root="HKLM"
        Key="Software\Ocentra\Ocentra Child Agent"
        Name="ProgramData"
        Type="integer"
        Value="1"
        KeyPath="yes"
      />
    </Component>
  </Fragment>
</Wix>
